/.metadata/
Nivel-3/ApiPeriodosPerdidos/target
Nivel-3/swagger-codegen-cli.jar
Servers
Nivel-3/ApiPeriodosPerdidos/.classpath
Nivel-3/ApiPeriodosPerdidos/.project
Nivel-3/ApiPeriodosPerdidos/.settings